@import url('../base.css');

.md-checkbox-container {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.md-checkbox {
    width: 18px;
    height: 18px;
    accent-color: var(--color-primary);
    border-radius: 2px;
    border-color: var(--color-primary);
    border-style: solid;
}
