@import "../base.css";

.md-button-icon {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border-width: 0px;
    overflow: hidden;
    position: relative;
    border-style: solid;
}

.md-button-icon:enabled {
    cursor: pointer;
}

.md-button-icon::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Color */

.md-button-standard-error-icon {
    background-color: color-mix(in srgb, red 0%, transparent);
    color: var(--color-on-error-container);
}

.md-button-standard-error-icon:hover::before {
    background-color: color-mix(in srgb, var(--color-on-surface-variant) 8%, transparent);
}

.md-button-filled-icon {
   background-color: var(--color-primary);
   color: var(--color-on-primary);
}

.md-button-filled-icon:disabled {
    background-color: color-mix(in srgb, var(--color-on-surface) 10%, transparent);
    border-color: color-mix(in srgb, var(--color-on-surface) 10%, transparent);
    color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
}

.md-button-filled-icon:hover::before {
    background-color: color-mix(in srgb, var(--color-on-primary) 8%, transparent);
}

.md-button-tonal-icon {
    background-color: var(--color-secondary-container);
    color: var(--color-on-secondary-container);
}

.md-button-tonal-icon:disabled {
    background-color: color-mix(in srgb, var(--color-on-surface) 10%, transparent);
    color: color-mix(in srgb, var(--color-on-surface) 38%, transparent)
}

.md-button-tonal-icon:hover::before {
    background-color: color-mix(in srgb, var(--color-on-secondary-container) 8%, transparent);
}

.md-button-outlined-icon {
    background-color: color-mix(in srgb, red 0%, transparent);
    border-width: 1px;
    border-color: var(--color-outline-variant);
    color: var(--color-on-surface-variant);
}

.md-button-outlined-icon:disabled {
    color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
}

.md-button-outlined-icon:hover::before {
    background-color: color-mix(in srgb, var(--color-on-surface-variant) 8%, transparent);
}

.md-button-standard-icon {
    background-color: color-mix(in srgb, red 0%, transparent);
    color: var(--color-on-surface-variant);
}

.md-button-standard-icon:disabled {
    color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
}

.md-button-standard-icon:hover::before {
    background-color: color-mix(in srgb, var(--color-on-surface-variant) 8%, transparent);
}

.md-button-outlined-error-icon {
    background-color: color-mix(in srgb, red 0%, transparent);
    border-width: 1px;
    border-color: var(--color-outline-variant);
    color: var(--color-on-error-container);
}

.md-button-outlined-error-icon:disabled {
    color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
}

.md-button-outlined-error-icon:hover::before {
    background-color: color-mix(in srgb, var(--color-on-surface-variant) 8%, transparent);
}

.md-button-inverse-icon {
    background-color: color-mix(in srgb, red 0%, transparent);
    color: var(--color-inverse-on-surface);
}

.md-button-inverse-icon:hover::before {
    background-color: color-mix(in srgb, var(--color-inverse-on-surface) 8%, transparent);
}

.md-button-primary-icon {
    background-color: color-mix(in srgb, red 0%, transparent);
    color: var(--color-primary);
}

.md-button-primary-icon:disabled {
    color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);
}

.md-button-primary-icon:hover::before {
    background-color: color-mix(in srgb, var(--color-on-surface-variant) 8%, transparent);
}

/* Size */

.md-button-extra-small-icon {
    height: 32px;
    width: 32px;
    padding: 0px;
    align-items: center;
}

.md-button-small-icon {
    height: 40px;
    width: 40px;
    padding: 0px;
    align-items: center;
}

.md-button-medium-icon {
    height: 56px;
    width: 56px;
    padding: 0px;
    align-items: center;
}

.md-button-large-icon {
    height: 96px;
    width: 96px;
    padding: 0px;
    align-items: center;
}

.md-button-extra-large-icon {
    height: 136px;
    width: 136px;
    padding: 0px;
    align-items: center;
}

/* Shape */

.md-button-square-extra-small-icon {
    border-radius: 12px;
}

.md-button-square-extra-small-icon:active {
    border-radius: 8px;
}

.md-button-round-extra-small-icon {
    border-radius: 100vh;
}

.md-button-round-extra-small-icon:active {
    border-radius: 8px;
}

.md-button-square-small-icon {
    border-radius: 12px;
}

.md-button-square-small-icon:active {
    border-radius: 8px;
}

.md-button-round-small-icon {
    border-radius: 100vh;
}

.md-button-round-small-icon:active {
    border-radius: 8px;
}

.md-button-square-medium-icon {
    border-radius: 16px;
}

.md-button-square-medium-icon:active {
    border-radius: 12px;
}

.md-button-round-medium-icon {
    border-radius: 100vh;
}

.md-button-round-medium-icon:active {
    border-radius: 12px;
}

.md-button-square-large-icon {
    border-radius: 28px;
}

.md-button-square-large-icon:active {
    border-radius: 16px;
}

.md-button-round-large-icon {
    border-radius: 100vh;
}

.md-button-round-large-icon:active {
    border-radius: 16px;
}

.md-button-square-extra-large-icon {
    border-radius: 28px;
}

.md-button-square-extra-large-icon:active {
    border-radius: 16px;
}

.md-button-round-extra-large-icon {
    border-radius: 100vh;
}

.md-button-round-extra-large-icon:active {
    border-radius: 16px;
}

/* Width */

.md-button-extra-small-narrow-icon {
    width: 28px;
}

.md-button-small-narrow-icon {
    width: 32px;
}

.md-button-medium-narrow-icon {
    width: 48px;
}

.md-button-large-narrow-icon {
    width: 64px;
}

.md-button-extra-large-narrow-icon {
    width: 104px;
}

.md-button-extra-small-wide-icon {
    width: 40px;
}

.md-button-small-wide-icon {
    width: 52px;
}

.md-button-medium-wide-icon {
    width: 72px;
}

.md-button-large-wide-icon {
    width: 128px;
}

.md-button-extra-large-wide-icon {
    width: 184px;
}
