@import '../base.css';

.md-icon-20 {
    font-size: 20px !important;
}

.md-icon-24 {
    font-size: 24px !important;
}

.md-icon-40 {
    font-size: 40px !important;
}

.md-icon-48 {
    font-size: 48px !important;
}
